html{
	font-family: Arial, sans-serif;
}
div{
	margin-bottom: 5px;
}
input{
	margin-left: 20px;
}
button{
	margin-top: 20px;
	margin-left: 20px;
	background: #0766CF;
	color: white;
	border: black solid 1px;
	font-weight: bold;
}
button:hover{
	background: #11DCFF;
}
.header{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-weight: bold;
	min-width: 90px;

}
#normalsession, #monthrows, #normaldays, #venue{
	display: flex;
}
#months, #session, #days{
	display: flex;
	flex-direction: row;
	margin-bottom: 50px;
}
.monthcolumn {
	display: flex;
	flex-direction: column;
	margin-right: 50px;
}






