.avail-timeslot {
    display: inline-block;
    background-color: white;
    padding: 5px 20px;
    margin: 10px;
    border-radius: 5px;
    width: 170px;
    line-height: 5px;
}

.event-slot {
    font-weight: bold;
}

.no-events-text {
    text-align: center;
    margin: 50px;
    line-height: 30px;
}
.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col {
    background-color: gainsboro;
    margin: 0 30px;
    padding: 0 30px 20px 30px;
    border-radius: 10px;
    width: 470px;
    height: auto;
}

body {
    font-family: 'Arial';
    box-sizing: border-box;
    background-color: white;
    /* line-height:1.6; */
}

.lead { 
    font-size: 1.5rem;
    font-weight: 300; 
}

.container { 
    margin: 150px auto; 
    max-width: 1000px;
}

.header {
    margin: 25px 10px 10px 10px;
    text-align: center;
}