.avail-timeslot {
    display: inline-block;
    background-color: white;
    padding: 5px 20px;
    margin: 10px;
    border-radius: 5px;
    width: 170px;
    line-height: 5px;
}

.event-slot {
    font-weight: bold;
}

.events-display div:hover:not(.no-events-text) {
    background-color: aliceblue;
    cursor: pointer;
}

.no-events-text {
    text-align: center;
    margin: 50px;
    line-height: 30px;
}
.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col {
    background-color: gainsboro;
    margin: 0 0 0 30px;
    padding: 0 30px 20px 30px;
    border-radius: 10px;
    width: 50%;
    height: auto;
}

.selected-slots {
    background-color: #4F98DB;
    color: white;
    margin: 30px 0;
    padding: 0 30px;
    width: 100%;
    border-radius: 10px;
}

body {
    font-family: 'Arial';
    box-sizing: border-box;
    background-color: white;
    /* line-height:1.6; */
}

.lead { 
    font-size: 1.5rem;
    font-weight: 300; 
}

.container { 
    margin: auto;
    padding: 0px 50px;
}

.header {
    margin: 25px 10px 10px 10px;
    text-align: center;
}

.submit-button {
    padding: 10px 30px;
    flex: right;
    font: Arial;
    font-size: 1em;
    font-weight: bold;
    background-color: #4F98DB;
    color: white;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 5px #B0B0B0);
}

.submit-button:hover {
    cursor: pointer;
    background-color: #2869A5;
}

.button-container {
    display: flex;
    justify-content: right;
}

.title {
    justify-content: left;
}